html, body{
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}


#container {
    background-image: url(img/flag3.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

    #container * {
        border: 2px solid black;
    }

#card {
    width: 100%;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
}



#word {
    background-image: url(img/flag.jpg);
    background-size: 100% 100%;
    backface-visibility: hidden;
    overflow: hidden;
    padding: 13% 0 13% 0;
    color: wheat;
    text-shadow: 2px 2px 4px black;
    font-size: 300%;
    font-weight: 800;
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
}

#flipside {
    display: block;
    background-image: url(img/flag2.jpg);
    background-size: 100% 100%;
    backface-visibility: hidden;
    overflow: hidden;
    padding: 13% 5% 13% 5%;
    color: wheat;
    text-shadow: 2px 2px 4px black;
    font-size: 300%;
    font-weight: 800;
    transform: rotateX(180deg);
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
}


#transcription {
    color: wheat;
    border: unset;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#topPanel {
    border: unset;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 2%;
}

    #topPanel * {
        width: 8%;
        border: unset;
        padding: 0 2% 0 2%;
    }


    #card.active {
        transform: rotateX(180deg);
        
    }

#panel {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: absolute;
    bottom: 0;
}

    #panel * {
        width: 100%;
        padding: 5% 0 5% 0;
        text-shadow: 1px 1px 2px grey;
        font-size: 100%;
        font-family: 'Courier New';
        font-weight: 700;
    }

#green{
    background-color: green;
}

#yellow{
    background-color: yellow;
}

#red{
    background-color: red;
}


#menu {
display: none;
flex-direction: column;
}

/*.showMenu {
    height: auto;
    opacity: 1;
    display: flex;
}*/

    #menu * {
        margin: 5%;
        padding: 5%;
        font-family: 'Courier New';
        font-size: large;
        font-weight: 700;
    }

#goldenBtn{
    background-color: darkgoldenrod;
}

#redBtn {
    background-color: red;
}

#yellowBtn {
    background-color: yellow;
}

#greenBtn {
    background-color: green;
}
